@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../webfonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"), url(../webfonts/Pacifico-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dfe9e6;
  font-family: "Inter", segoe UI, arial, Helvetica;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

button,
option,
select,
input {
  font-family: "Inter", segoe UI, arial, Helvetica;
  transition: 0.5s;
}

.container {
  display: flex;
  flex-direction: column;
}

.header_content {
  align-items: center;
  background-color: #129552;
  /* box-shadow: 0px 3px 3px -2px #00000033, 0px 3px 4px 0px #00000024, 0px 1px 8px 0px #0000001f; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.aviso {
  background-color: #0f8a4b;
  font-size: 0.8rem;
  padding: 10px;
  text-align: center;
}

.logo {
  color: white;
  font-family: "Pacifico", segoe UI, sans-serif, arial, Helvetica;
  font-size: 2.5rem;
  margin: 20px 0;
}

.version {
  font-size: 0.9rem;
}

/* Busca principal */
.searchbarContainer {
  display: flex;
  margin-top: 20px;
}

.mainsearchbar {
  background-color: #0b6637;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  width: 500px;
}

.mainsearchbar:focus-visible {
  box-shadow: inset 0px 0px 0px 2px white;
  outline: none;
}

.mainsearchbar::placeholder {
  color: #8bcbac;
}

.mainSearchBtn,
.adminBtnDisable,
.adminBtnEnable,
.searchBtnClean {
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  height: 50px;
  margin-left: 10px;
  padding: 15px 25px;
  width: 70px;
}

.mainSearchBtn {
  background-color: #eab42a;
}
.searchBtnClean {
  background-color: #d72736;
}

.adminBtnDisable,
.adminBtnEnable {
  background-color: black;
}

.mainSearchBtn:after,
.searchBtnClean::after,
.adminBtnDisable::after,
.adminBtnEnable::after {
  font-family: FontAwesome;
  font-size: 1.2rem;
}

.mainSearchBtn:after {
  content: " \f002\ ";
}

.searchBtnClean::after {
  content: " \f00d\ ";
}

.adminBtnDisable::after {
  content: " \f3c1\ ";
}

.adminBtnEnable::after {
  content: " \f023\ ";
}

.categoryContainer {
  margin: 40px 0;
}

.categoryButton {
  background-color: #f0fff7;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #00000033;
  color: #006e39;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  height: 80px;
  margin: 3px;
  width: 160px;
}

.categoryButton:hover {
  background-color: #1d3f2e;
  color: white;
}

.categoryButton:after {
  font-family: FontAwesome;
  font-size: 0.8rem;
  content: " \f054\ ";
  color: #ff8c1f;
}

.aviso {
  color: white;
  font-size: 0.9rem;
}

.buttonShowAll,
.buttonHideAll {
  background-color: black;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #00000033;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  height: 40px;
  margin: 3px 5px 15px 0;
  width: 120px;
}

.buttonShowAll::before {
  font-family: FontAwesome;
  font-size: 1rem;
  content: " \f146\ ";
}

.buttonHideAll::before {
  font-family: FontAwesome;
  font-size: 1rem;
  content: " \f0fe\ ";
}

.buttonShowAll:hover,
.buttonHideAll:hover {
  background-color: #545d72;
}

.box_container {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.box_content {
  background-color: white;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
}

.header_box_content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.btn_add {
  background-color: #129552;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  margin-right: auto;
  padding: 10px;
}

.btn_add:hover {
  background-color: #0f7842;
  box-shadow: 0 0 0 0.25rem #00a94d40;
}

.btn_add:before {
  content: " \2b\ ";
  font-family: FontAwesome;
  font-size: 1rem;
}

.title {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
}

.arrowHide,
.arrowShow {
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0 10px;
}

.arrowHide:before {
  content: " \f0d7\ ";
  font-family: FontAwesome;
  font-size: 1.1rem;
}

.arrowShow:before {
  content: " \f0da\ ";
  font-family: FontAwesome;
  font-size: 1.1rem;
}

.searchBarDevices {
  background-color: #f4f6fa;
  border: none;
  border: 3px solid #dee8e9;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 10px;
  padding: 3px;
  text-align: center;
  width: 250px;
}

.searchBarDevices:focus-visible {
  box-shadow: 0 0 0 0.25rem #00a94d40;
  outline: none;
}

label {
  color: #5f758e;
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 2px;
}

.btnModalActions {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  position: sticky;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer input,
select {
  border: 3px solid #dee8e9;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 5px 0;
  outline: none;
  padding: 10px 5px;
}

.formLegenda {
  background-color: #fae1bc;
  border-radius: 5px;
  color: #d48d53;
  font-size: 0.85rem;
  line-height: 20px;
  margin: 5px 0;
  padding: 10px;
}

input[type="text"]:focus-visible,
select[type="text"]:focus-visible {
  border: 3px solid #129552;
  box-shadow: 0 0 0 0.25rem #00a94d40;
}

input::placeholder {
  color: #a5afb0;
}

option {
  background-color: #ecfff8;
  font-size: 0.9rem;
  font-weight: bold;
}

.btn_addUpd,
.btn_addUpdCancel {
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 3px 0;
  padding: 10px;
  text-transform: uppercase;
}

.btn_addUpd {
  background-color: #129552;
  color: white;
}

.btn_addUpdCancel {
  background-color: #e5e5e5;
  color: #404f61;
}

.modal {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 85%;
  inset: 50% auto auto 50%;
  margin-right: -50%;
  outline: none;
  overflow: auto;
  padding: 30px 30px 0px;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30%;
}

.modal_overlay {
  background-color: #ffffffbd;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.buttonAnterior .buttonProxima {
  background-color: red !important;
}

.btn_alterar,
.btn_excluir {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 3px;
  padding: 8px;
}

.btn_alterar {
  background-color: #f1b32a;
  color: white;
}

.btn_excluir {
  background-color: #f12a2a;
  color: white;
}

.btn_alterar:before {
  content: " \f303\ ";
  font-family: FontAwesome;
  font-size: 0.7rem;
  padding: 0;
}

.btn_excluir:before {
  content: " \f1f8\ ";
  font-family: FontAwesome;
  font-size: 0.7rem;
  padding: 0;
}

.status_phaseout {
  background-color: #fff2f2;
  color: #a32c2c;
}

.status_suporte {
  background-color: #e1f5e8;
  color: #17562c;
}

.status_phaseout::before {
  content: " \f0e0\ ";
  font-family: FontAwesome;
  font-size: 0.7rem;
  padding: 0;
}

.status_suporte:before {
  content: " \f058\ ";
  font-family: FontAwesome;
  font-size: 0.7rem;
  padding: 0;
}

.pdfbtn,
.paginalink,
.pdfbtn_NA {
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 3px 6px;
}

.pdfbtn {
  background-color: #5b657a;
  color: white;
}

.paginalink {
  background-color: #268946;
  color: white;
}

.pdfbtn_NA {
  background-color: #d15b5b;
  color: white;
}

.paginalink:before {
  content: " \f35d\ ";
  font-family: FontAwesome;
  font-size: 0.75rem;
}

.fast,
.giga,
.sim,
.nao,
.normal,
.variado1,
.variado2,
.variado3 {
  border-radius: 20px;
  font-weight: bold;
  padding: 1px 10px;
  text-align: center;
}

.fast {
  background-color: #cedde8;
  color: #183347;
}

.giga {
  background-color: #f9d290;
  color: #905f26;
}

.sim {
  background-color: #e1f5e8;
  color: #3d6b4c;
}

.nao {
  background-color: #fff2f2;
  color: #c76a6a;
}

.normal {
  background-color: #d4d4d4;
  color: #464646;
}

.variado1 {
  background-color: #ee99ce;
  color: 523756;
}

.variado2 {
  background-color: #a3d8d3;
  color: #333;
}

.variado3 {
  background-color: #dade8b;
  color: #60623c;
}

.NaoPossui:after {
  color: #f75151;
  content: " \f00d\ ";
  font-family: FontAwesome;
  font-size: 1.2rem;
}

.Possui:after {
  color: #77be77;
  content: " \f058\ ";
  font-family: FontAwesome;
  font-size: 1.2rem;
}

/* TABELAS */

.devicesTable {
  border-collapse: collapse;
  border-style: solid;
  border-width: 0;
  color: #333;
  cursor: default;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;
  width: 100%;
}

.devicesTable td,
.devicesTable th {
  border: 0px solid transparent;
  text-align: center;
}

.devicesTable th {
  border: 3px solid white;
  font-size: 0.8rem;
  padding: 5px;
}

#AP th:nth-child(9),
#AP th:nth-child(10),
#AP th:nth-child(11) {
  padding: 0 20px;
}

#AP th:nth-child(1) {
  padding: 0 70px;
}

#AP th:nth-child(9) {
  padding: 0 50px;
}

#RADIO th:nth-child(5) {
  padding: 0 30px;
}

#ROTEADOR th:nth-child(1) {
  padding: 0 60px;
}

#ONU th:nth-child(3) {
  padding: 0 25px;
}

.devicesTable thead {
  background-color: black;
  color: white;
}

.devicesTable td:not(:first-child) {
  font-size: 0.75rem;
  font-weight: bold;
  padding: 1px;
}

td:first-child {
  font-size: 0.9rem;
  font-weight: bold;
  padding-left: 5px;
  position: sticky;
  text-align: left;
}

th:first-child {
  left: 0;
  position: sticky;
}

tbody tr:hover {
  background: #fae1bc;
  /* box-shadow: 0px 0px 0px 1px #d48d53 inset; */
}

tbody:nth-child(even) {
  background-color: #f4f6fa;
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: black;
  border-radius: 6px;
  bottom: 100%;
  color: #fff;
  font-size: 0.7rem;
  left: 50%;
  margin-left: -60px;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  width: fit-content;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.top {
  align-items: center;
  background-color: #268946;
  border-radius: 50%;
  box-shadow: 0 0 0 0.25rem #00a94d40;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: -75px;
  position: fixed;
  top: 90%;
  width: 50px;
}

.top:after {
  content: " \f30c\ ";
  font-family: FontAwesome;
  font-size: 1.3rem;
}
