@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 box-border p-0;
}

::selection {
  @apply bg-itbs-default text-white;
}

html {
  scroll-behavior: auto;
}

body {
  font-family: "Roboto", segoe UI, arial;
  @apply bg-zinc-100 dark:bg-itbs-modern-400;
}

tbody:nth-child(odd) {
  @apply bg-slate-50 dark:bg-itbs-modern-100;
}

tbody:nth-child(even) {
  @apply bg-slate-100 dark:bg-itbs-modern-300;
}
