body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContent {
  background-color: darkseagreen;
  border-radius: 10px;
  margin: 3px;
  width: 300px;
  height: 400px;
  padding-left: 10px;
}

.containernull {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
