@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e1e1e1;
  font-family: segoe UI, sans-serif, arial, Helvetica;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

h2 {
  color: #2f3542;
}

input {
  font-family: segoe UI, sans-serif, arial, Helvetica;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
}

.header_content {
  align-items: center;
  background-color: #268946;
  box-shadow: 0px 3px 3px -2px #00000033, 0px 3px 4px 0px #00000024, 0px 1px 8px 0px #0000001f;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.aviso {
  background-color: #195a2e;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
}

.logo {
  color: white;
  font-size: 2.5rem;
  margin-top: 20px;
  font-family: "Pacifico", segoe UI, sans-serif, arial, Helvetica;
}

/* main Search */

.searchbarContainer {
  display: flex;
  margin-top: 20px;
}

.mainsearchbar {
  background-color: #20773c;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1.2rem;
  padding: 15px;
  text-align: center;
  width: 500px;
}

.mainsearchbar::placeholder {
  color: #8bcbac;
}

.mainSearchBtn,
.mainSearchBtnClean {
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  height: 50px;
  margin-left: 10px;
  padding: 15px 25px;
  width: 70px;
}
.mainSearchBtn {
  background-color: #eab42a;
}

.mainSearchBtn:after {
  content: " \f002\ ";
  font-family: FontAwesome;
  font-size: 1.2rem;
}

.mainSearchBtnClean {
  background-color: #d72736;
}

.mainSearchBtnClean::after {
  content: " \f00d\ ";
  font-family: FontAwesome;
  font-size: 1.2rem;
}

.btns_container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.btns {
  background-color: #f0fff7;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  color: #006e39;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  margin: 3px;
  width: 110px;
}

.btns:hover {
  background-color: #1d3f2e;
  color: white;
}

.legendas,
.aviso {
  color: white;
  font-size: 0.9rem;
}

.legendas {
  background-color: #20773c;
  border: 1px solid #1e6d37;
  border-radius: 3px;
  margin-bottom: 30px;
  padding: 10px 40px;
}

.legendas p {
  padding: 3px;
}

.btn_hideShow {
  background-color: #2f3542;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 #00000033;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  height: 40px;
  margin: 3px 5px 15px 0;
  width: 120px;
}

.btn_hideShow:hover {
  background-color: #545d72;
}

.box_container {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.box_content {
  background-color: white;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
}

.header_box_content {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.arrowHide,
.arrowShow {
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
  padding: 0 10px;
}

.arrowHide:after {
  content: " \f107\ ";
  font-family: FontAwesome;
  font-size: 1.1rem;
}

.arrowShow:after {
  content: " \f054\ ";
  font-family: FontAwesome;
  font-size: 1.1rem;
}

.searchBarDevices {
  background-color: #dbdbdb;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  width: 250px;
}

.status_phaseout,
.status_suporte {
  border-radius: 20px;
  font-weight: bold;
  padding: 1px 10px;
}

.status_phaseout {
  background-color: #fff2f2;
  color: #e34646;
}

.status_suporte {
  background-color: #e1f5e8;
  color: #2ca152;
}

.status_phaseout::before {
  content: " \f057\ ";
  font-family: FontAwesome;
  font-size: 0.7rem;
}

.status_suporte:before {
  content: " \f058\ ";
  font-family: FontAwesome;
  font-size: 0.7rem;
}

.pdfbtn,
.paginalink,
.pdfbtn_NA {
  border-radius: 20px;
  font-size: 0.7rem;
  padding: 3px 10px;
}

.pdfbtn {
  background-color: #5b657a;
  color: white;
}

.paginalink {
  background-color: #268946;
  color: white;
}

.pdfbtn_NA {
  background-color: #d15b5b;
  color: white;
}

.paginalink:after {
  content: " \f35d\ ";
  font-family: FontAwesome;
  font-size: 0.75rem;
}

.fast,
.giga,
.sim,
.nao,
.normal,
.variado1,
.variado2,
.variado3 {
  border-radius: 20px;
  font-weight: bold;
  padding: 1px 10px;
  text-align: center;
}

.fast {
  background-color: #cedde8;
  color: #183347;
}

.giga {
  background-color: #f9d290;
  color: #905f26;
}

.sim {
  background-color: #e1f5e8;
  color: #3d6b4c;
}

.nao {
  background-color: #fff2f2;
  color: #c76a6a;
}

.normal {
  background-color: #d4d4d4;
  color: #464646;
}

.variado1 {
  background-color: #ee99ce;
  color: 523756;
}

.variado2 {
  background-color: #a3d8d3;
  color: #333;
}

.variado3 {
  background-color: #dade8b;
  color: #60623c;
}

.NaoPossui {
  color: #e34646;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
}

/* TABELAS */

.devicesTable {
  border-collapse: collapse;
  border-style: solid;
  border-width: 0;
  color: #333;
  cursor: default;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;
  width: 100%;
}

.devicesTable td,
.devicesTable th {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.devicesTable th {
  font-size: 0.8rem;
  padding: 5px;
  border: 1px solid white;
}

#AP th:nth-child(13),
#AP th:nth-child(14),
#AP th:nth-child(10) {
  padding: 0 10px;
}

#AP th:nth-child(9) {
  padding: 0 50px;
}

#RADIO th:nth-child(5) {
  padding: 0 30px;
}

#ONU th:nth-child(3) {
  padding: 0 25px;
}

.devicesTable thead {
  background-color: #2f3542;
  color: white;
}

/* .devicesTable th:nth-child(even) {
  background-color: #596273;
} */

.devicesTable td:not(:first-child) {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1px;
}

td:first-child {
  background-color: #f2f2f2;
  font-size: 0.9rem;
  font-weight: bold;
  left: 0;
  padding: 0 5px;
  position: sticky;
}

th:first-child {
  background-color: #474e5c;
  /* display: block; */
  left: 0;
  position: sticky;
}

tbody tr:hover {
  background: #fee5a1;
}

tbody:nth-child(even) {
  background-color: #f2f2f2;
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  background-color: black;
  border-radius: 6px;
  bottom: 100%;
  color: #fff;
  font-size: 0.7rem;
  left: 50%;
  margin-left: -60px;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  width: fit-content;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.top {
  align-items: center;
  background-color: #268946;
  border-radius: 50%;
  color: white;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: 20px;
  position: fixed;
  top: 90%;
  width: 50px;
}

.top:after {
  content: " \f30c\ ";
  font-family: FontAwesome;
  font-size: 1.3rem;
}
