@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eeeeee;
  font-family: "Fira Sans", segoe UI, arial;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.btnCategory {
  @apply bg-green-900 border-none rounded-md shadow-md text-white cursor-pointer text-base font-semibold h-20 w-40 m-3;
}
/* 
#AP td {
  @apply border-none text-center;
}

#AP th {
  @apply border-none text-center border-white px-1;
}

#AP th:nth-child(1) {
  @apply w-max;
}

#AP td:not(:first-child) {
  @apply text-xs;
}

#AP th:first-child,
td:first-child {
  @apply sticky left-0;
}

#AP td:first-child {
  @apply p-1 text-sm font-bold sticky text-left;
} */
