body {
  background-color: #cfd5e2;
  font-family: sans-serif, ubuntu, arial, Inter, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
}

.btn_container {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.box_container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1200px;
}

.box_content {
  background-color: white;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

.statusphaseout {
  color: #ff4242;
  font-weight: bold;
}

.statusemlinha {
  color: #00a335;
  font-weight: bold;
}

button {
  height: 40px;
  width: 100px;
  border: none;
  margin: 3px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

table.GeneratedTable {
  width: 100%;
  background-color: #efffe2;
  border-collapse: collapse;
  border-width: 2px;
  border-style: solid;
  color: #000000;
  line-height: 30px;
}

table.GeneratedTable td,
table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffffff;
  border-style: solid;
  text-align: center;
  font-size: 0.6rem;
}

table.GeneratedTable td {
  font-size: 0.7rem;
}

.tr:hover {
  background-color: #d3bebe;
}

table.GeneratedTable thead {
  background-color: #5e6573;
  color: white;
}
